[core]
	autocrlf = input
	longpaths = true
	excludesfile = ~/.gitignore
[user]
	useConfigOnly = true
	name = Bernhard Danecker
	email = bernhard.danecker@troii.com
	signingkey = /Users/bd/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[fetch]
	prune = true
[push]
	default = current
[pull]
	rebase = true
[rebase]
	autosquash = true
	updateRefs = true
	autostash = true
[alias]
	ignored = ls-files -ic --exclude-standard

[includeIf "gitdir:~/Developer/other/"]
	path = ~/Developer/other/.gitconfig

[includeIf "gitdir:~/Documents/studying/"]
	path = ~/Documents/studying/.gitconfig
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /Users/bd/.git_allowed_signers
